.container{
    background-color: rgb(159, 167, 184);
    width: 60%;
    height:auto;
    margin:auto;
}

.box{
    background-color:rgb(216, 216, 216);
    width:30%;
    height:227px;
    float:left;
}

.floatimg{
    width:30%;
    float:left;
}
.p{
    background-color:rgb(216, 216, 216);
    width:30%;
    float:left;
}
.clear{
    clear:both;
}
